
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle left>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'grafico1.titulo' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div *ngIf="cargando" text-center>
        <ion-spinner text-center></ion-spinner>
    </div>

    <ion-list *ngIf="!cargando">
        <ion-item>
            <ion-label>{{ 'grafico1.pregunta' | translate }}:</ion-label>
            <ion-select [(ngModel)]="Unapregunta" (ionChange)="onChange(Unapregunta)">
                <div *ngFor="let p of pregs">
                    <ion-option value={{p}}>{{p}}</ion-option>
                </div>
            </ion-select>
        </ion-item>
    </ion-list>

    <div id="container"></div>




<div *ngIf="conjAver2 != ''">
    <table>
    <tr>
      <th>{{ 'grafico1.respuesta' | translate }}</th>
      <th>{{ 'grafico1.cantidad' | translate }}</th>
    </tr>
    <tr *ngFor="let p of conjAver2">
      <td>{{p.drilldown}}</td>
      <td>{{p.y}}</td>
    </tr>
  </table>
</div>

</ion-content>
