
<ion-header>

    <ion-navbar color="primary">
        <ion-buttons start left>
            <button ion-button icon-only (tap)="cancelar()">
                {{ 'cancelar' | translate }}
            </button>
        </ion-buttons>

        <ion-title text-center>{{ 'crear' | translate }} {{ 'alta-modal.tipo_' + t | translate }}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only color="primary-color-text" [disabled]="u == '' || n == '' || c == '' || cargando" (tap)="Alta(n, u, c, id_tipo, idioma)">
                {{ 'guardar' | translate }}
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content padding>

    <div *ngIf="cargando" text-center>
        <ion-spinner text-center></ion-spinner>
    </div>

    <div *ngIf="!cargando">

        <ion-item>
            <ion-label floating>{{ 'email' | translate }}</ion-label>
            <ion-input type="email" [(ngModel)]="u" clearInput required></ion-input>
        </ion-item>


        <ion-item>
            <ion-label floating>{{ 'nombre' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="n" clearInput required ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating >{{ 'clave' | translate }}</ion-label>
            <ion-input type="password" [(ngModel)]="c" clearInput required> </ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'alta-modal.idioma' | translate }}:</ion-label>
            <ion-select [(ngModel)]="idioma" >
                <ion-option value="es">{{ 'espanol' | translate }}</ion-option>
                <ion-option value="en">{{ 'ingles' | translate }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-thumbnail item-start>
                <img [src]="base64Image" *ngIf="base64Image">
            </ion-thumbnail>
            <h2>{{ 'alta-modal.imagen' | translate }}</h2>
            <button ion-button (tap)="tomarFoto()" clear item-end>{{ 'alta-modal.tomar_foto' | translate }}</button>
        </ion-item>

    </div>



</ion-content>
