
<ion-menu [content]="content" side="left">
    <ion-header>
        <ion-toolbar color="primary-color">
            <ion-title>{{ 'menu.titulo' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <!-- alumno-->
            <button *ngIf="usuarioLogueado.tipo_usuario == 'Alumno'" ion-item (click)="openPage(alumnoPage)" menuClose>
                {{ 'menu.mis_encuestas' | translate }}
            </button>
            <button *ngIf="usuarioLogueado.tipo_usuario == 'Alumno'" ion-item (click)="openPage(miubicacion)" menuClose>
                {{ 'menu.mi_ubicacion' | translate }}
            </button>
            <!-- fin alumno -->

            <!-- administrador-->
            <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrador'" ion-item (click)="openPage(grillaProfesor)" menuClose>
                {{ 'menu.abm_profesores' | translate }}
            </button>
            <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrador'" ion-item (click)="openPage(grillaAlumno)" menuClose>
                {{ 'menu.abm_alumnos' | translate }}
            </button>
            <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrador'" ion-item (click)="openPage(grillaAdministrativo)" menuClose>
                {{ 'menu.abm_administrativos' | translate }}
            </button>
            <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrador'" ion-item (click)="openPage(grillaAdministrador)" menuClose>
                {{ 'menu.abm_administradores' | translate }}
            </button>
            <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrador'" ion-item (click)="openPage(grillaComision)" menuClose>
                {{ 'menu.abm_comisiones' | translate }}
            </button>
            <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrador'" ion-item (click)="openPage(grillaCurso)" menuClose>
                {{ 'menu.abm_cursos' | translate }}
            </button>

            <!-- fin administrador -->

            <!-- administrativo -->
            <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrativo'" ion-item (click)="openPage(grafico1)" menuClose>
                {{ 'menu.cant_respuestas_por_preguntas' | translate }}
            </button>
            <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrativo'" ion-item (click)="openPage(grafico2)" menuClose>
                {{ 'menu.cant_encuestas_por_curso' | translate }}
            </button>
            <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrativo'" ion-item (click)="openPage(grafico3)" menuClose>
                {{ 'menu.cant_alumnos_por_curso' | translate }}
            </button>
            <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrativo'" ion-item (click)="openPage(alumnocurso)" menuClose>
                {{ 'menu.alta_de_alumno_en_curso' | translate }}
            </button>
            <!-- fin administrativo -->
            <button *ngIf="usuarioLogueado.tipo_usuario == 'Profesor'" ion-item (click)="Encuestas('profesorGenerar')" menuClose>
                {{ 'menu.crear_encuesta' | translate }}
            </button>
            <button *ngIf="usuarioLogueado.tipo_usuario == 'Profesor'" ion-item (click)="Encuestas('profesorEnviar')" menuClose>
                {{ 'menu.asignar_encuesta' | translate }}
            </button>

            <!--<button ion-item (click)="ayuda()" menuClose>
                {{ 'menu.ayuda' | translate }}
            </button>-->
            <button ion-item (click)="acercaDe()" menuClose>
                 {{ 'menu.acerca_de' | translate }}
            </button>
            <button ion-item (click)="cerrarSesion()">
                {{ 'menu.cerrar_sesion' | translate }}
            </button>

        </ion-list>
    </ion-content>

    <ion-footer>
        <button ion-item (click)="verPerfilDeUsuario(usuarioLogueado)">
            <ion-avatar item-left>
                <img [src]="usuarioLogueado.imagen" *ngIf="usuarioLogueado.imagen">
            </ion-avatar>

            <h2>{{ usuarioLogueado.usuario }}</h2>
            <p>{{ 'menu.'+usuarioLogueado.tipo_usuario | translate }}</p>
        </button>
    </ion-footer>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
