<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle left>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'enviarencuesta.titulo' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="fondo">

    <ion-grid>

        <ion-row class="animated pulse" align-items-start>
            <ion-col text-center>
                <p>{{ 'enviarencuesta.descripcion' | translate }}</p>
            </ion-col>
        </ion-row>

        <ion-row align-items-end>
            <ion-col>

                <ion-row *ngIf="cargando"  class="animated pulse" text-center>
                    <ion-col>
                        <ion-spinner text-center></ion-spinner>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="!cargando">
                    <ion-col class="animated pulse">

                        <ion-list>

                            <ion-item>
                                <ion-label>{{ 'enviarencuesta.encuesta' | translate }}</ion-label>
                                <ion-select [(ngModel)]="encuestaSeleccionada">
                                    <ion-option value="0">{{ 'enviarencuesta.seleccione_una_encuesta' | translate }}</ion-option>
                                    <ion-option  *ngFor="let encuesta of listaEncuestas; let i = index; trackBy: id_encuesta" [value]="encuesta.id_encuesta">{{encuesta.descripcion}}</ion-option>
                                </ion-select>
                            </ion-item>

                            <ion-item>
                                <ion-label>{{ 'enviarencuesta.curso' | translate }}</ion-label>
                                <ion-select [(ngModel)]="cursoSeleccionado">
                                    <ion-option value="0">{{ 'enviarencuesta.seleccione_un_curso' | translate }}</ion-option>
                                    <ion-option *ngFor="let curso of listaCursos; let i = index; trackBy: id_curso" [value]="curso.id_curso">{{curso.descripcion}}</ion-option>
                                </ion-select>
                            </ion-item>

                        </ion-list>

                    </ion-col>
                </ion-row>

                <ion-row  *ngIf="!cargando">
                    <ion-col class="signup-col animated pulse">
                        <button ion-button type="button" (click)="EnviarEncuesta()" color="primary-color" full [disabled]="encuestaSeleccionada == 0 || cursoSeleccionado == 0">{{ 'enviarencuesta.asignar_encuesta' | translate }}</button>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>
