<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle left>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'generarencuesta.titulo' | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="fondo" padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <p [innerHTML]="'generarencuesta.descripcion' | translate">

                </p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list *ngIf="!cargando">
        <ion-item-sliding *ngFor="let encuesta of listaEncuestas; let i = index; trackBy: descripcion">
            <ion-item (click)="verEncuesta(encuesta)">
                <h2>{{encuesta.descripcion}}</h2>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button color="danger" (click)="BorrarEncuesta(encuesta.id_encuesta)">
                    <ion-icon name="trash" ></ion-icon>
                    {{ 'generarencuesta.borrar' | translate }}
                </button>
            </ion-item-options>

            <ion-item-options side="right">
                <button ion-button color="primary" (click)="verEncuesta(encuesta)">
                    <ion-icon name="create"></ion-icon>
                    {{ 'generarencuesta.ver' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab bottom right *ngIf="!cargando">
        <button ion-fab (tap)="nuevaEncuesta()" color="PRIMARY">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

</ion-content>
