
<ion-header>

    <ion-navbar color="primary">
        <ion-buttons start left>
            <button ion-button icon-only (tap)="Cancelar()">
                {{ 'cancelar' | translate }}
            </button>
        </ion-buttons>

        <ion-title text-center>{{ 'editar' | translate }}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only color="primary-color-text" [disabled]="n == ''" (tap)="Modificar(id_usuario, n, u, c, t)">
                {{ 'guardar' | translate }}
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content padding>

    <div *ngIf="cargando" text-center>
        <ion-spinner text-center></ion-spinner>
    </div>

    <div *ngIf="!cargando">
        <ion-item>
            <ion-label floating>{{ 'email' | translate }}</ion-label>
            <ion-input type="text" disabled="true" [value]="u"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>{{ 'nombre' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="n"></ion-input>
        </ion-item>
        <ion-item>
            <a (tap)="resetearClave(u)">{{ 'resetear_clave' | translate }}</a>
        </ion-item>

        <ion-list>
            <ion-item>
                <ion-label>{{ 'modificacion-modal.tipo' | translate }}</ion-label>
                <ion-select [(ngModel)]="t">
                    <ion-option value="1">{{ 'modificacion-modal.administrador' | translate }}</ion-option>
                    <ion-option value="2">{{ 'modificacion-modal.administrativo' | translate }}</ion-option>
                    <ion-option value="3">{{ 'modificacion-modal.alumno' | translate }}</ion-option>
                    <ion-option value="4">{{ 'modificacion-modal.profesor' | translate }}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <ion-item>
            <ion-thumbnail  item-start>
                <img [src]="base64Image" *ngIf="base64Image">
            </ion-thumbnail>
            <h2>{{ 'modificacion-modal.imagen' | translate }}</h2>
            <button ion-button (tap)="tomarFoto()" clear item-end>{{ 'modificacion-modal.tomar_foto' | translate }}</button>
        </ion-item>
    </div>

</ion-content>
